.avatar{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -50%);
    width: 165px;
    height: 165px;
  }
  
  .s{
    text-decoration-line: line-through;
  }
  
  .inline{
    display: inline;
    width: auto;
  }

  .stats{
    background-color: white;
  }